.default {
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

.heading {
  position: sticky;
  top: var(--header-height);
  border-bottom: 1px solid #373737;
  background: #fff;
  padding: 1px 8px 1px 1px;
}

.row {
  border-top: 1px solid #e6e6e6;
}

.cell {
  vertical-align: top;
  padding: 1px 8px 1px 1px;
}

.cell_secondary {
  color: #5c5c5c;
}

.cell__link {
  color: #373737;
}
