.table {
  border-spacing: 0;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table-heading {
  position: sticky;
  top: var(--header-height);
  background: #fff;
  border-bottom: 1px solid #373737;
  padding: 1px 8px 1px 1px;
}

.table-row {
  border-top: 1px solid #e6e6e6;
}

.table-cell {
  vertical-align: top;
  padding: 1px 8px 1px 1px;
}

.table-cell_secondary {
  color: #5c5c5c;
}

.table-cell__link {
  color: #373737;
}
